@font-face {
    font-family: "Manaspace";
    src:url("/Font/Web-Font_manaspace/manaspc-webfont.woff") format("woff"),
        url("/Font/Web-Font_manaspace/manaspc-webfont.woff2") format("woff2");
    font-weight: normal;
}