* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #333;
   
}

canvas {
    outline: 1px solid #fff;
    margin: 0 auto;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;

    transform: scale(3)  translateY(40%);
    image-rendering: pixelated;
    
  
}

