.battle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/maps/StreetBattle.png);
    background-size: cover;
    image-rendering: pixelated;
}

.battle-hero, .battle-ennemy {
    position: absolute;
    transform: scale(2);
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url(/images/characters/shadow.png) no-repeat no-repeat;
}

.battle-hero {
    bottom: 64px;
    left: -1px;
}

.battle-hero img {
    transform: translateY(-64px);
}

.battle-ennemy {
    right: -1px;
    top: 40px;
}

.whoBuff .keyboard-menu {
    border: 1px solid var(--menu-border-color);
}

/* Animation */

@keyframes takeDamageBlink {
    to {
        visibility: hidden;
    }
}

.taking-damage {
    animation: takeDamageBlink 0.3s steps(2, start) infinite;
}

@keyframes spinMoveAttack-right {
    0% {transform: translate3d(0, 0, 0) rotate(0deg) scale(2)}
    25% {transform: translate3d(155px, -30px, 0) rotate(45deg) scale(2)}
    0% {transform: translate3d(0, 0, 0) scale(2)}
}

.spin-move-attack-right {
    animation: spinMoveAttack-right 0.8s;
}


@keyframes spinMoveAttack-left {
    0% {transform: translate3d(0, 0, 0) rotate(0deg) scale(2)}
    25% {transform: translate3d(-100%, 25%, 0) rotate(45deg) scale(2)}
    0% {transform: translate3d(0, 0, 0) scale(2)}
}

.spin-move-attack-left {
    animation: spinMoveAttack-left 0.8s;
}